.backview{
    background-image: url("../../../assets/images/map2.png");
    background-size: cover;
	width:auto; 
	height:100vh;	
    display:flex;
    justify-content:space-around;
    background-color: white;
    flex-wrap:wrap;
    flex-direction: column;
}
.homeview {
    background-size: cover;
    flex-wrap: wrap;
}
.padre {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    margin-top: -50px;

}
.title{
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Do Hyeon', sans-serif;
}
.subtitle{
    margin-top: 30px;
    letter-spacing: 2px;
    font-family: 'Do Hyeon';
    font-size: 25px;
}
.column {
    margin-top: -30px;
    float: left;
    padding: 20px;
    
}
.log{
    width: 180px;
    margin-bottom: -20px;
}
